[run]
omit =
    # Exclude all __init__.py files
    */__init__.py
    # Exclude the proto directory
    proto/*
    # Exclude the tests directory itself from coverage measurement
    tests/*

[report]
# Fail if coverage drops below 80%, but also show missing lines
fail_under = 80
show_missing = True 